*{
    padding: 0;
    margin:0;
}

body{ 
    padding: 0 25px;
}

.create{
    display: block;
    text-align: center;
    justify-content: center;

    margin: 20px;
}

.create-btn{
    display: inline-block;
    background-color:#fb8b0b;
    padding: 5px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 29px;
    align-items: center;
    border: .1px solid #fb8b0b;
    border-radius: 10%;
    
} 

.card{ 
    width: 30%;
    margin: 40px;
    border: solid 3px black;
    border-radius: 5%;

    display: flex;
    flex: auto;
    
}

h3{
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid black ;
}
.card-contents > p{
  margin-bottom: 30px;
}
.delete-btn{ 
    padding: 5px 5px;
    background-color: red;
    border: red;
    color: white;
    
}
.card-image{
    width: 160px;
    height: 90px;
    background-color:cadetblue;
    margin-bottom: 20px;
}
.card-btn{
    display: flex;
    justify-content: left;
}
.edit-btn{ 
    display: inline-block;
    background-color: blue;
    padding: 5px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    align-items: center;
    border: 1px solid black;
    border-radius: 10%;
}
